---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../config';
import Body from '../components/Body.astro';
import Content from '../components/Content.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="container mx-auto flex flex-col px-8 py-4"></main>
    <Content>
      <section>Hello</section>
      <section>Hello</section>
      <section>Hello</section>
      <Footer />
    </Content>
  </Body>
</html>
